*{
    margin:0px;
    padding:0px;
}
.img-detailsContainer{
    background-color: rgba(128,128,128,0.1);
    height:50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imgHolder{
    width:15em;
    height:15rem;
    background-image: url("../images/profile.webp");
    background-size: contain;
    background-repeat:no-repeat;
    border-radius:4.5em;
    border:2px black solid;
    margin-bottom:20px;
}
#plusHolder{
    width:4.5rem;
    height:4.5rem;
    background-image:url("../images/plus.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 5rem;
    position: relative;
    left:60px;
    bottom:60px;
    z-index: 2;
}
.name{
    position: relative;
    bottom:20px;
}
.details-container{
    text-decoration: none;
}
ul{
 list-style-type: none;   
 display: flex;
 column-gap: 1em;
 font-size: 20px;
}
.info-Container{
    margin:5em;
    padding:2em 2em 2em 2em;
    background-color: rgba(128,128,128,0.3);
    text-align: center;
}
.box-Container{
    margin-top:2em;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
p{
    font-size:2em;
    text-align: center;
}
.box{
    width: 50em;
    height:50em;
    margin:5px;
    border:1px rgba(128,128,128,0.7) solid;
    text-align:center;
    align-content: center;
    background-color:#6d6d693b;
}
.footer-Container{
    padding:2em 2em 2em 2em;
    background-color: rgba(128,128,128,0.1);
    text-align:center;
}
.box:hover{
    border : 3rem rgba(128,128,128,0) solid;
    border-radius: 2rem;
    transition: all 1s ease-in ;
} 
#box1:hover:after{
    transition-property: all;
    content: "Details About my First Project";
}
#box2:hover:after{
    transition-property: all;
    content: "Details About my Second Project";
}
#box3:hover:after{
    transition-property: all;
    content: "Details About my Third Project";
}
#box4:hover:after{
    transition-property: all;
    content: "Details About my Fourth Project";
}
.box:hover span {
    display: none
  }
  